    <script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>
<div class="container"><br/><br/>

	<div class="col-xs-6 col-xs-offset-0" style="text-align:center;">

		<h1>Auto<span style = "color:#b56969">MED</span>ic</h1>
		<img class ="homePill" src="/images/pillm.png" ><br><br><br>

		<form class="locationForm">
      		<div class="input-group">
    			<input id="pac-input" class="form-control"  type="text" placeholder="Search for a location" ng-model="model.searchLocation" ng-virtual-keyboard="{forcePosition:'top'}"/>
    			<span class="input-group-btn">
    				<button type="button" class="form-control" ng-click="newLocation()">Change Location</button> 
    			</span>
    		</div>
    	</form>

	</div>

	<div class="col-xs-6"><br>
		<todays-weather
		  units='Metric'
		  custom-size="125"
		  location="{{model.searchLocation}}"
		  change="{{newLoc}}"
		  use-google-images="true">
		</todays-weather>

		<p ng-model="newLoc"></p><br>
    	
	</div>
</div>
